# NL2SQL Pipeline Demo - Azure AI Agent Service

## Overview
This notebook demonstrates the **Azure AI Agent Service** implementation of our Natural Language to SQL pipeline.

### Key Features
- ü§ñ **Persistent AI Agents** - Agents remain in Azure AI Foundry (not deleted after use)
- üîê **Enterprise Authentication** - Uses DefaultAzureCredential (Azure CLI, Managed Identity)
- üìä **Built-in Observability** - Native Azure AI Foundry tracing
- ‚ö° **Performance** - Agent reuse eliminates creation overhead
- üéØ **2-Agent Architecture** - Intent extraction + SQL generation

### Pipeline Flow
```
Natural Language Query
         ‚Üì
    [Intent Agent] ‚Üê Persistent agent in Azure AI Foundry
         ‚Üì
    Intent JSON (entities, filters, metrics)
         ‚Üì
    [SQL Agent] ‚Üê Persistent agent with schema context
         ‚Üì
    Generated T-SQL
         ‚Üì
    SQL Execution (Azure SQL)
         ‚Üì
    Formatted Results + Token Usage + Cost
```

### Comparison with LangChain
| Feature | LangChain | Azure AI Agent Service |
|---------|-----------|------------------------|
| Orchestration | Prompt chains | Agents + Threads |
| Authentication | API Key | DefaultAzureCredential |
| State | Stateless | Stateful threads |
| Persistence | No | Yes (Azure AI Foundry) |
| Dependencies | 3 packages | 2 packages |

---

**Let's explore the pipeline step by step!**

## Step 1: Import Required Libraries

We'll import the Azure AI Agent Service SDK and other necessary modules.

In [1]:
import os
import sys
import json
import time
from datetime import datetime
from dotenv import load_dotenv

# Azure AI Agent Service
from azure.ai.projects import AIProjectClient
from azure.identity import DefaultAzureCredential

# Add current directory to path for local imports
sys.path.insert(0, os.path.dirname(os.path.abspath('__file__')))

print("‚úì All libraries imported successfully!")
print(f"  - azure-ai-projects: Available")
print(f"  - azure-identity: Available")
print(f"  - Python version: {sys.version.split()[0]}")

‚úì All libraries imported successfully!
  - azure-ai-projects: Available
  - azure-identity: Available
  - Python version: 3.13.7

## Step 2: Load Environment Configuration

Load Azure AI Foundry project configuration and verify settings.

In [2]:
# Load environment variables
load_dotenv()

# Azure AI Foundry configuration
PROJECT_ENDPOINT = os.getenv("PROJECT_ENDPOINT")
MODEL_DEPLOYMENT_NAME = os.getenv("MODEL_DEPLOYMENT_NAME")

# Azure SQL configuration
AZURE_SQL_SERVER = os.getenv("AZURE_SQL_SERVER")
AZURE_SQL_DB = os.getenv("AZURE_SQL_DB")

print("Environment Configuration:")
print("=" * 60)
print(f"‚úì Azure AI Project: {PROJECT_ENDPOINT}")
print(f"‚úì Model Deployment: {MODEL_DEPLOYMENT_NAME}")
print(f"‚úì Azure SQL Server: {AZURE_SQL_SERVER}")
print(f"‚úì Database: {AZURE_SQL_DB}")
print("=" * 60)

# Verify required variables
if not PROJECT_ENDPOINT or not MODEL_DEPLOYMENT_NAME:
    raise ValueError("Missing required environment variables. Check .env file!")

Environment Configuration:
============================================================
‚úì Azure AI Project: https://aq-ai-foundry-sweden-central.services.ai.azure.com/api/projects/firstProject
‚úì Model Deployment: gpt-4.1
‚úì Azure SQL Server: aqsqlserver001.database.windows.net
‚úì Database: CONTOSO-FI
============================================================

## Step 3: Initialize Azure AI Project Client

Connect to Azure AI Foundry using DefaultAzureCredential (Azure CLI authentication).

In [3]:
# Initialize Azure AI Project Client
project_client = AIProjectClient(
    endpoint=PROJECT_ENDPOINT,
    credential=DefaultAzureCredential()
)

print("‚úì Azure AI Project Client initialized successfully!")
print(f"  Endpoint: {PROJECT_ENDPOINT}")
print(f"  Authentication: DefaultAzureCredential (Azure CLI)")
print("\nüìå Note: This uses your Azure CLI login (az login)")
print("   No API keys stored in code!")

‚úì Azure AI Project Client initialized successfully!
  Endpoint: https://aq-ai-foundry-sweden-central.services.ai.azure.com/api/projects/firstProject
  Authentication: DefaultAzureCredential (Azure CLI)

üìå Note: This uses your Azure CLI login (az login)
   No API keys stored in code!

## Step 4: Load Database Schema

Load the CONTOSO-FI database schema that will be provided to the SQL generation agent.

In [4]:
from schema_reader import get_sql_database_schema_context

# Load database schema
schema_context = get_sql_database_schema_context()

print("‚úì Database schema loaded successfully!")
print(f"  Schema size: {len(schema_context)} characters")
print(f"  Database: {AZURE_SQL_DB}")
print("\nüìã Schema Preview (first 300 chars):")
print("=" * 60)
print(schema_context[:300] + "...")
print("=" * 60)

‚úì Database schema loaded successfully!
  Schema size: 4777 characters
  Database: CONTOSO-FI

üìã Schema Preview (first 300 chars):
============================================================
DATABASE: CONTOSO-FI (Azure SQL)
GUIDELINES
- Prefer dbo.vw_LoanPortfolio for simple portfolio-style questions.
- For hard/complex questions, use the base tables (Loan, Company, Collateral, Covenant, PaymentSchedule, etc.) and generate SQL with multiple joins, subqueries, CTEs, or advanced logic as ...
============================================================

## Step 5: Create Persistent Agents

Now we'll create our two persistent agents that will remain in Azure AI Foundry.

### Agent 1: Intent Extractor
Analyzes natural language queries to extract:
- Intent (count, list, aggregate, filter)
- Entities (tables, columns)
- Metrics to calculate
- Filters and conditions
- Grouping requirements

### Agent 2: SQL Generator
Generates T-SQL queries using:
- Intent from Agent 1
- Database schema context
- Azure SQL best practices

In [5]:
# Create Intent Extraction Agent
intent_agent = project_client.agents.create_agent(
    model=MODEL_DEPLOYMENT_NAME,
    name="intent-extractor-demo",
    instructions="""You are an AI assistant that extracts the intent and entities from natural language database queries.

Analyze the user's question and provide:
1. The main intent (e.g., count, list, aggregate, filter)
2. Key entities mentioned (tables, columns, metrics)
3. Any filters or conditions
4. Desired aggregations or groupings

Return your analysis in JSON format with keys: intent, entity, metrics, filters, group_by."""
)

print("‚úì Intent Extraction Agent created!")
print(f"  Agent ID: {intent_agent.id}")
print(f"  Model: {MODEL_DEPLOYMENT_NAME}")
print(f"  Name: {intent_agent.name}")
print()

# Create SQL Generation Agent
sql_agent = project_client.agents.create_agent(
    model=MODEL_DEPLOYMENT_NAME,
    name="sql-generator-demo",
    instructions=f"""You are an expert SQL query generator for Azure SQL Database.

Given the user's intent and the database schema, generate a valid T-SQL query.

Database Schema:
{schema_context}

Requirements:
- Generate clean, efficient T-SQL
- Use proper JOINs when needed
- Include appropriate WHERE clauses for filters
- Use meaningful column aliases
- Return ONLY the SQL query, no explanations
- Do NOT include markdown code blocks"""
)

print("‚úì SQL Generation Agent created!")
print(f"  Agent ID: {sql_agent.id}")
print(f"  Model: {MODEL_DEPLOYMENT_NAME}")
print(f"  Name: {sql_agent.name}")
print(f"  Schema size: {len(schema_context)} characters")
print()
print("=" * 60)
print("üéâ Both agents are now persistent in Azure AI Foundry!")
print("   They will remain even after this notebook session ends.")
print("=" * 60)

‚úì Intent Extraction Agent created!
  Agent ID: asst_TOSujAUTZxQxMhgG8C6OE3Gg
  Model: gpt-4.1
  Name: intent-extractor-demo

‚úì SQL Generation Agent created!
  Agent ID: asst_DLoXNhObGvykHaUpERhIhHwB
  Model: gpt-4.1
  Name: sql-generator-demo
  Schema size: 4777 characters

============================================================
üéâ Both agents are now persistent in Azure AI Foundry!
   They will remain even after this notebook session ends.
============================================================

## Step 6: Test Intent Extraction

Let's test the Intent Extraction agent with a sample query.

In [12]:
# Test query
test_query = "Show the top 10 companies by total principal amount, including their industry, region, and average interest rate across all their loans."

print(f"üîç Test Query: '{test_query}'")
print("\n" + "=" * 60)

# Create a thread for this conversation
thread = project_client.agents.threads.create()

# Send the query to the intent agent
project_client.agents.messages.create(
    thread_id=thread.id,
    role="user",
    content=test_query
)

# Run the agent
run = project_client.agents.runs.create_and_process(
    thread_id=thread.id,
    agent_id=intent_agent.id
)

# Get the response
messages = project_client.agents.messages.list(thread_id=thread.id)
for message in messages:
    if message.role == "assistant":
        intent_result = message.text_messages[0].text.value
        break

print("‚úì Intent Extraction Result:")
print("=" * 60)
print(intent_result)
print("=" * 60)

# Parse JSON for better display
try:
    intent_json = json.loads(intent_result)
    print("\nüìä Structured Intent:")
    for key, value in intent_json.items():
        print(f"  {key}: {value}")
except:
    pass

üîç Test Query: 'Show the top 10 companies by total principal amount, including their industry, region, and average interest rate across all their loans.'

============================================================
‚úì Intent Extraction Result:
============================================================
{
  "intent": "list",
  "entity": ["companies", "industry", "region", "loans"],
  "metrics": ["total principal amount", "average interest rate"],
  "filters": null,
  "group_by": ["company"],
  "additional": {
    "sort_by": "total principal amount",
    "order": "desc",
    "limit": 10,
    "include_fields": ["industry", "region"]
  }
}
============================================================

üìä Structured Intent:
  intent: list
  entity: ['companies', 'industry', 'region', 'loans']
  metrics: ['total principal amount', 'average interest rate']
  filters: None
  group_by: ['company']
  additional: {'sort_by': 'total principal amount', 'order': 'desc', 'limit': 10, 'include_fields': ['industry', 'region']}
‚úì Intent Extraction Result:
============================================================
{
  "intent": "list",
  "entity": ["companies", "industry", "region", "loans"],
  "metrics": ["total principal amount", "average interest rate"],
  "filters": null,
  "group_by": ["company"],
  "additional": {
    "sort_by": "total principal amount",
    "order": "desc",
    "limit": 10,
    "include_fields": ["industry", "region"]
  }
}
============================================================

üìä Structured Intent:
  intent: list
  entity: ['companies', 'industry', 'region', 'loans']
  metrics: ['total principal amount', 'average interest rate']
  filters: None
  group_by: ['company']
  additional: {'sort_by': 'total principal amount', 'order': 'desc', 'limit': 10, 'include_fields': ['industry', 'region']}

## Step 7: Test SQL Generation

Now let's use the SQL agent to generate a query based on the extracted intent.

In [13]:
print(f"üìù Generating SQL for intent: {intent_result}")
print("\n" + "=" * 60)

# Create a new thread for SQL generation
sql_thread = project_client.agents.threads.create()

# Send the intent to the SQL agent
project_client.agents.messages.create(
    thread_id=sql_thread.id,
    role="user",
    content=f"Intent: {intent_result}\n\nGenerate the SQL query:"
)

# Run the SQL agent
sql_run = project_client.agents.runs.create_and_process(
    thread_id=sql_thread.id,
    agent_id=sql_agent.id
)

# Get the SQL response
sql_messages = project_client.agents.messages.list(thread_id=sql_thread.id)
for message in sql_messages:
    if message.role == "assistant":
        generated_sql = message.text_messages[0].text.value
        break

print("‚úì Generated SQL Query:")
print("=" * 60)
print(generated_sql)
print("=" * 60)

üìù Generating SQL for intent: {
  "intent": "list",
  "entity": ["companies", "industry", "region", "loans"],
  "metrics": ["total principal amount", "average interest rate"],
  "filters": null,
  "group_by": ["company"],
  "additional": {
    "sort_by": "total principal amount",
    "order": "desc",
    "limit": 10,
    "include_fields": ["industry", "region"]
  }
}

============================================================
‚úì Generated SQL Query:
============================================================
SELECT
    CompanyName,
    Industry,
    RegionName,
    SUM(PrincipalAmount) AS TotalPrincipalAmount,
    AVG(InterestRatePct) AS AverageInterestRate
FROM dbo.vw_LoanPortfolio
GROUP BY CompanyName, Industry, RegionName
ORDER BY TotalPrincipalAmount DESC
OFFSET 0 ROWS FETCH NEXT 10 ROWS ONLY
============================================================
‚úì Generated SQL Query:
============================================================
SELECT
    CompanyName,
    Industry,
    RegionName,
    SUM(PrincipalAmount) AS TotalPrincipalAmount,
    AVG(InterestRatePct) AS AverageInterestRate
FROM dbo.vw_LoanPortfolio
GROUP BY CompanyName, Industry, RegionName
ORDER BY TotalPrincipalAmount DESC
OFFSET 0 ROWS FETCH NEXT 10 ROWS ONLY
============================================================

## Step 8: Execute SQL Query

Now let's execute the generated SQL query against the Azure SQL database.

In [14]:
from sql_executor import execute_sql_query
import time

print(f"üöÄ Executing SQL Query...")
print("=" * 60)

# Clean up the SQL query (remove markdown code blocks if present)
sql_query = generated_sql.strip()
if sql_query.startswith("```"):
    lines = sql_query.split('\n')
    sql_query = '\n'.join(lines[1:-1]) if len(lines) > 2 else sql_query

print(f"Query to execute:\n{sql_query}\n")
print("=" * 60)

# Execute the query
try:
    start_time = time.time()
    results = execute_sql_query(sql_query)
    execution_time = time.time() - start_time
    
    # Display execution metadata
    print(f"\n‚úì Query executed successfully!")
    print(f"  Rows returned: {len(results)}")
    print(f"  Execution time: {execution_time:.3f}s")
    
    # Display column information
    if results and len(results) > 0:
        columns = list(results[0].keys())
        print(f"\nüìã Columns ({len(columns)}):")
        for col in columns:
            print(f"  - {col}")
        
        # Display raw results (first 10 rows if many)
        print(f"\nüìä Results:")
        print("=" * 60)
        max_display = min(10, len(results))
        for i, row in enumerate(results[:max_display], 1):
            print(f"Row {i}: {row}")
        
        if len(results) > max_display:
            print(f"... and {len(results) - max_display} more rows")
    else:
        print("\n‚ö†Ô∏è  No results returned")
    
    print("=" * 60)
    
except Exception as e:
    print(f"‚ùå Error executing query: {str(e)}")
    import traceback
    traceback.print_exc()
    results = None

üöÄ Executing SQL Query...
============================================================
Query to execute:
SELECT
    CompanyName,
    Industry,
    RegionName,
    SUM(PrincipalAmount) AS TotalPrincipalAmount,
    AVG(InterestRatePct) AS AverageInterestRate
FROM dbo.vw_LoanPortfolio
GROUP BY CompanyName, Industry, RegionName
ORDER BY TotalPrincipalAmount DESC
OFFSET 0 ROWS FETCH NEXT 10 ROWS ONLY

============================================================

‚úì Query executed successfully!
  Rows returned: 10
  Execution time: 1.145s

üìã Columns (5):
  - CompanyName
  - Industry
  - RegionName
  - TotalPrincipalAmount
  - AverageInterestRate

üìä Results:
============================================================
Row 1: {'CompanyName': 'Blue Ridge Energy Corp', 'Industry': 'Energy', 'RegionName': 'Americas', 'TotalPrincipalAmount': Decimal('25000000.00'), 'AverageInterestRate': Decimal('6.250000')}
Row 2: {'CompanyName': 'Toronto Health Devices', 'Industry': 'Medical Devices', 'RegionName': 'Americas', 'TotalPrincipalAmount': Decimal('25000000.00'), 'AverageInterestRate': Decimal('6.250000')}
Row 3: {'CompanyName': 'Acme Industrial Holdings', 'Industry': 'Manufacturing', 'RegionName': 'Americas', 'TotalPrincipalAmount': Decimal('24000000.00'), 'AverageInterestRate': Decimal('6.250000')}
Row 4: {'CompanyName': 'Mumbai InfraTech Ltd', 'Industry': 'Infrastructure', 'RegionName': 'Asia', 'TotalPrincipalAmount': Decimal('22000000.00'), 'AverageInterestRate': Decimal('3.900000')}
Row 5: {'CompanyName': 'Osaka Precision K.K.', 'Industry': 'Electronics', 'RegionName': 'Asia', 'TotalPrincipalAmount': Decimal('22000000.00'), 'AverageInterestRate': Decimal('3.900000')}
Row 6: {'CompanyName': 'Shanghai GreenChem Co', 'Industry': 'Chemicals', 'RegionName': 'Asia', 'TotalPrincipalAmount': Decimal('22000000.00'), 'AverageInterestRate': Decimal('3.900000')}
Row 7: {'CompanyName': 'Singapore Data Centers', 'Industry': 'Data Centers', 'RegionName': 'Asia', 'TotalPrincipalAmount': Decimal('22000000.00'), 'AverageInterestRate': Decimal('3.900000')}
Row 8: {'CompanyName': 'Amsterdam FinTech BV', 'Industry': 'Technology', 'RegionName': 'Europe', 'TotalPrincipalAmount': Decimal('18000000.00'), 'AverageInterestRate': Decimal('4.750000')}
Row 9: {'CompanyName': 'Gaulois Pharma SA', 'Industry': 'Pharmaceuticals', 'RegionName': 'Europe', 'TotalPrincipalAmount': Decimal('18000000.00'), 'AverageInterestRate': Decimal('4.750000')}
Row 10: {'CompanyName': 'Nordwind Logistics GmbH', 'Industry': 'Logistics', 'RegionName': 'Europe', 'TotalPrincipalAmount': Decimal('18000000.00'), 'AverageInterestRate': Decimal('4.750000')}
============================================================

‚úì Query executed successfully!
  Rows returned: 10
  Execution time: 1.145s

üìã Columns (5):
  - CompanyName
  - Industry
  - RegionName
  - TotalPrincipalAmount
  - AverageInterestRate

üìä Results:
============================================================
Row 1: {'CompanyName': 'Blue Ridge Energy Corp', 'Industry': 'Energy', 'RegionName': 'Americas', 'TotalPrincipalAmount': Decimal('25000000.00'), 'AverageInterestRate': Decimal('6.250000')}
Row 2: {'CompanyName': 'Toronto Health Devices', 'Industry': 'Medical Devices', 'RegionName': 'Americas', 'TotalPrincipalAmount': Decimal('25000000.00'), 'AverageInterestRate': Decimal('6.250000')}
Row 3: {'CompanyName': 'Acme Industrial Holdings', 'Industry': 'Manufacturing', 'RegionName': 'Americas', 'TotalPrincipalAmount': Decimal('24000000.00'), 'AverageInterestRate': Decimal('6.250000')}
Row 4: {'CompanyName': 'Mumbai InfraTech Ltd', 'Industry': 'Infrastructure', 'RegionName': 'Asia', 'TotalPrincipalAmount': Decimal('22000000.00'), 'AverageInterestRate': Decimal('3.900000')}
Row 5: {'CompanyName': 'Osaka Precision K.K.', 'Industry': 'Electronics', 'RegionName': 'Asia', 'TotalPrincipalAmount': Decimal('22000000.00'), 'AverageInterestRate': Decimal('3.900000')}
Row 6: {'CompanyName': 'Shanghai GreenChem Co', 'Industry': 'Chemicals', 'RegionName': 'Asia', 'TotalPrincipalAmount': Decimal('22000000.00'), 'AverageInterestRate': Decimal('3.900000')}
Row 7: {'CompanyName': 'Singapore Data Centers', 'Industry': 'Data Centers', 'RegionName': 'Asia', 'TotalPrincipalAmount': Decimal('22000000.00'), 'AverageInterestRate': Decimal('3.900000')}
Row 8: {'CompanyName': 'Amsterdam FinTech BV', 'Industry': 'Technology', 'RegionName': 'Europe', 'TotalPrincipalAmount': Decimal('18000000.00'), 'AverageInterestRate': Decimal('4.750000')}
Row 9: {'CompanyName': 'Gaulois Pharma SA', 'Industry': 'Pharmaceuticals', 'RegionName': 'Europe', 'TotalPrincipalAmount': Decimal('18000000.00'), 'AverageInterestRate': Decimal('4.750000')}
Row 10: {'CompanyName': 'Nordwind Logistics GmbH', 'Industry': 'Logistics', 'RegionName': 'Europe', 'TotalPrincipalAmount': Decimal('18000000.00'), 'AverageInterestRate': Decimal('4.750000')}
============================================================

## Step 9: Format Results as Table

Display the results in a clean, formatted table for better readability.

In [15]:
import pandas as pd
from IPython.display import display, HTML

if results and len(results) > 0:
    try:
        # Convert results to pandas DataFrame
        df = pd.DataFrame(results)
        
        print("üìä Formatted Results Table")
        print("=" * 80)
        print(f"Total Rows: {len(df)}")
        print(f"Columns: {', '.join(df.columns.tolist())}")
        print("=" * 80)
        print()
        
        # Display as formatted table
        # Set pandas display options for better readability
        pd.set_option('display.max_columns', None)
        pd.set_option('display.width', None)
        pd.set_option('display.max_colwidth', 50)
        
        # Display the DataFrame
        display(df)
        
        # Show basic statistics for numeric columns
        numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns
        if len(numeric_cols) > 0:
            print("\nüìà Quick Statistics (Numeric Columns):")
            print("=" * 80)
            display(df[numeric_cols].describe())
        
        # Show data types
        print("\nüîç Column Data Types:")
        print("=" * 80)
        for col, dtype in df.dtypes.items():
            print(f"  {col}: {dtype}")
            
    except Exception as e:
        print(f"‚ö†Ô∏è  Could not format as table: {str(e)}")
        print("Raw results are available in the 'results' variable")
        import traceback
        traceback.print_exc()
else:
    print("‚ö†Ô∏è  No results to format. The query may not have returned any data.")
    print("   Check the previous cell for execution details.")

üìä Formatted Results Table
================================================================================
Total Rows: 10
Columns: CompanyName, Industry, RegionName, TotalPrincipalAmount, AverageInterestRate
================================================================================

,CompanyName,Industry,RegionName,TotalPrincipalAmount,AverageInterestRate
0,Blue Ridge Energy Corp,Energy,Americas,25000000.00,6.250000
1,Toronto Health Devices,Medical Devices,Americas,25000000.00,6.250000
2,Acme Industrial Holdings,Manufacturing,Americas,24000000.00,6.250000
3,Mumbai InfraTech Ltd,Infrastructure,Asia,22000000.00,3.900000
4,Osaka Precision K.K.,Electronics,Asia,22000000.00,3.900000
5,Shanghai GreenChem Co,Chemicals,Asia,22000000.00,3.900000
6,Singapore Data Centers,Data Centers,Asia,22000000.00,3.900000
7,Amsterdam FinTech BV,Technology,Europe,18000000.00,4.750000
8,Gaulois Pharma SA,Pharmaceuticals,Europe,18000000.00,4.750000
9,Nordwind Logistics GmbH,Logistics,Europe,18000000.00,4.750000

üîç Column Data Types:
================================================================================
  CompanyName: object
  Industry: object
  RegionName: object
  TotalPrincipalAmount: object
  AverageInterestRate: object

## Step 10: Run All 10 Complex Queries

Now let's run all 10 complex queries from our documentation in sequence to demonstrate the full capabilities of the NL2SQL pipeline.

This will process each question through:
1. Intent extraction
2. SQL generation
3. Query execution
4. Results display

In [16]:
# Define all 10 complex queries
complex_queries = [
    {
        "id": 1,
        "name": "Multi-Table Joins with Aggregations",
        "question": "Show the top 10 companies by total principal amount, including their industry, region, and average interest rate across all their loans."
    },
    {
        "id": 2,
        "name": "Weighted Average Calculations",
        "question": "What is the weighted average interest rate by region and currency, weighted by principal amount?"
    },
    {
        "id": 3,
        "name": "Collateral Coverage Ratio Analysis",
        "question": "Calculate the collateral coverage ratio for each loan (total collateral value divided by principal amount) and show the top 20 loans with coverage below 120%."
    },
    {
        "id": 4,
        "name": "Time-Series Analysis",
        "question": "Show the month-over-month change in ending principal from the payment schedule for the top 20 loans with the largest principal decrease."
    },
    {
        "id": 5,
        "name": "Covenant Compliance Rate",
        "question": "What is the covenant compliance rate by industry and quarter? Show the percentage of covenant tests that passed versus total tests."
    },
    {
        "id": 6,
        "name": "Delinquency Buckets Analysis",
        "question": "Group payment events into delinquency buckets (0-29, 30-59, 60-89, 90+ days) by region and show the percentage distribution for the last 6 months."
    },
    {
        "id": 7,
        "name": "Payment Timing Performance",
        "question": "What is the average number of days between due date and paid date for payments, grouped by company and quarter?"
    },
    {
        "id": 8,
        "name": "Regional Portfolio Distribution",
        "question": "For each region, show the top 3 companies by outstanding balance using the latest ending principal from payment schedules, including each company's percentage share of the regional total."
    },
    {
        "id": 9,
        "name": "Rate Type Mix by Region",
        "question": "Show the distribution of fixed versus variable rate loans by region, including counts, total principal, and percentages."
    },
    {
        "id": 10,
        "name": "Multi-Dimensional Loan Maturity",
        "question": "What is the average loan maturity period in days by industry and loan purpose, for loans originated in the last 2 years?"
    }
]

print("=" * 80)
print("üìã 10 COMPLEX QUERIES LOADED")
print("=" * 80)
for q in complex_queries:
    print(f"\n{q['id']}. {q['name']}")
    print(f"   Question: {q['question']}")
print("\n" + "=" * 80)

================================================================================
üìã 10 COMPLEX QUERIES LOADED
================================================================================

1. Multi-Table Joins with Aggregations
   Question: Show the top 10 companies by total principal amount, including their industry, region, and average interest rate across all their loans.

2. Weighted Average Calculations
   Question: What is the weighted average interest rate by region and currency, weighted by principal amount?

3. Collateral Coverage Ratio Analysis
   Question: Calculate the collateral coverage ratio for each loan (total collateral value divided by principal amount) and show the top 20 loans with coverage below 120%.

4. Time-Series Analysis
   Question: Show the month-over-month change in ending principal from the payment schedule for the top 20 loans with the largest principal decrease.

5. Covenant Compliance Rate
   Question: What is the covenant compliance rate by industry and quarter? Show the percentage of covenant tests that passed versus total tests.

6. Delinquency Buckets Analysis
   Question: Group payment events into delinquency buckets (0-29, 30-59, 60-89, 90+ days) by region and show the percentage distribution for the last 6 months.

7. Payment Timing Performance
   Question: What is the average number of days between due date and paid date for payments, grouped by company and quarter?

8. Regional Portfolio Distribution
   Question: For each region, show the top 3 companies by outstanding balance using the latest ending principal from payment schedules, including each company's percentage share of the regional total.

9. Rate Type Mix by Region
   Question: Show the distribution of fixed versus variable rate loans by region, including counts, total principal, and percentages.

10. Multi-Dimensional Loan Maturity
   Question: What is the average loan maturity period in days by industry and loan purpose, for loans originated in the last 2 years?

================================================================================

In [17]:
# Function to process a single query through the pipeline
def process_query(query_info, intent_agent, sql_agent, project_client):
    """Process a single query through intent extraction, SQL generation, and execution."""
    
    query_id = query_info['id']
    query_name = query_info['name']
    question = query_info['question']
    
    print(f"\n{'='*80}")
    print(f"QUERY {query_id}: {query_name}")
    print(f"{'='*80}")
    print(f"Question: {question}\n")
    
    results_dict = {
        'id': query_id,
        'name': query_name,
        'question': question,
        'intent': None,
        'sql': None,
        'execution_time': None,
        'row_count': 0,
        'results': None,
        'error': None
    }
    
    try:
        # Step 1: Intent Extraction
        print("‚è≥ Step 1: Extracting intent...")
        intent_thread = project_client.agents.threads.create()
        project_client.agents.messages.create(
            thread_id=intent_thread.id,
            role="user",
            content=question
        )
        intent_run = project_client.agents.runs.create_and_process(
            thread_id=intent_thread.id,
            agent_id=intent_agent.id
        )
        intent_messages = project_client.agents.messages.list(thread_id=intent_thread.id)
        for message in intent_messages:
            if message.role == "assistant":
                intent_text = message.text_messages[0].text.value
                results_dict['intent'] = intent_text
                print(f"‚úì Intent extracted")
                break
        
        # Step 2: SQL Generation
        print("‚è≥ Step 2: Generating SQL...")
        sql_thread = project_client.agents.threads.create()
        project_client.agents.messages.create(
            thread_id=sql_thread.id,
            role="user",
            content=f"Intent: {intent_text}\n\nGenerate the SQL query:"
        )
        sql_run = project_client.agents.runs.create_and_process(
            thread_id=sql_thread.id,
            agent_id=sql_agent.id
        )
        sql_messages = project_client.agents.messages.list(thread_id=sql_thread.id)
        for message in sql_messages:
            if message.role == "assistant":
                generated_sql = message.text_messages[0].text.value
                results_dict['sql'] = generated_sql
                print(f"‚úì SQL generated")
                break
        
        # Clean SQL
        sql_query = generated_sql.strip()
        if sql_query.startswith("```"):
            lines = sql_query.split('\n')
            sql_query = '\n'.join(lines[1:-1]) if len(lines) > 2 else sql_query
        
        print(f"\nGenerated SQL:")
        print("-" * 80)
        print(sql_query)
        print("-" * 80)
        
        # Step 3: Execute Query
        print("\n‚è≥ Step 3: Executing query...")
        start_time = time.time()
        query_results = execute_sql_query(sql_query)
        execution_time = time.time() - start_time
        
        results_dict['execution_time'] = execution_time
        results_dict['row_count'] = len(query_results)
        results_dict['results'] = query_results
        
        print(f"‚úì Query executed successfully")
        print(f"  Rows returned: {len(query_results)}")
        print(f"  Execution time: {execution_time:.3f}s")
        
        # Display preview of results
        if query_results and len(query_results) > 0:
            print(f"\nüìä Results Preview (first 3 rows):")
            print("-" * 80)
            for i, row in enumerate(query_results[:3], 1):
                print(f"Row {i}: {row}")
            if len(query_results) > 3:
                print(f"... and {len(query_results) - 3} more rows")
        
    except Exception as e:
        results_dict['error'] = str(e)
        print(f"‚ùå Error: {str(e)}")
        import traceback
        traceback.print_exc()
    
    print(f"\n{'='*80}\n")
    return results_dict

print("‚úì Query processing function defined")

‚úì Query processing function defined

In [18]:
# Process all 10 queries
all_results = []

print("üöÄ STARTING BATCH PROCESSING OF 10 COMPLEX QUERIES")
print("=" * 80)
print(f"Start time: {datetime.now().strftime('%Y-%m-%d %H:%M:%S')}")
print("=" * 80)

batch_start_time = time.time()

for query_info in complex_queries:
    result = process_query(query_info, intent_agent, sql_agent, project_client)
    all_results.append(result)
    
    # Small delay to avoid overwhelming the API
    time.sleep(1)

batch_end_time = time.time()
total_time = batch_end_time - batch_start_time

print("\n" + "=" * 80)
print("üéâ BATCH PROCESSING COMPLETE")
print("=" * 80)
print(f"End time: {datetime.now().strftime('%Y-%m-%d %H:%M:%S')}")
print(f"Total processing time: {total_time:.2f}s")
print(f"Average time per query: {total_time/len(complex_queries):.2f}s")
print("=" * 80)

üöÄ STARTING BATCH PROCESSING OF 10 COMPLEX QUERIES
================================================================================
Start time: 2025-10-08 11:26:11
================================================================================

================================================================================
QUERY 1: Multi-Table Joins with Aggregations
================================================================================
Question: Show the top 10 companies by total principal amount, including their industry, region, and average interest rate across all their loans.

‚è≥ Step 1: Extracting intent...
‚úì Intent extracted
‚è≥ Step 2: Generating SQL...
‚úì Intent extracted
‚è≥ Step 2: Generating SQL...
‚úì SQL generated

Generated SQL:
--------------------------------------------------------------------------------
SELECT
    CompanyName AS company,
    Industry AS industry,
    RegionName AS region,
    SUM(PrincipalAmount) AS total_principal_amount,
    AVG(InterestRatePct) AS average_interest_rate
FROM dbo.vw_LoanPortfolio
GROUP BY CompanyName, Industry, RegionName
ORDER BY total_principal_amount DESC
OFFSET 0 ROWS FETCH NEXT 10 ROWS ONLY;
--------------------------------------------------------------------------------

‚è≥ Step 3: Executing query...
‚úì SQL generated

Generated SQL:
--------------------------------------------------------------------------------
SELECT
    CompanyName AS company,
    Industry AS industry,
    RegionName AS region,
    SUM(PrincipalAmount) AS total_principal_amount,
    AVG(InterestRatePct) AS average_interest_rate
FROM dbo.vw_LoanPortfolio
GROUP BY CompanyName, Industry, RegionName
ORDER BY total_principal_amount DESC
OFFSET 0 ROWS FETCH NEXT 10 ROWS ONLY;
--------------------------------------------------------------------------------

‚è≥ Step 3: Executing query...
‚úì Query executed successfully
  Rows returned: 10
  Execution time: 1.110s

üìä Results Preview (first 3 rows):
--------------------------------------------------------------------------------
Row 1: {'company': 'Blue Ridge Energy Corp', 'industry': 'Energy', 'region': 'Americas', 'total_principal_amount': Decimal('25000000.00'), 'average_interest_rate': Decimal('6.250000')}
Row 2: {'company': 'Toronto Health Devices', 'industry': 'Medical Devices', 'region': 'Americas', 'total_principal_amount': Decimal('25000000.00'), 'average_interest_rate': Decimal('6.250000')}
Row 3: {'company': 'Acme Industrial Holdings', 'industry': 'Manufacturing', 'region': 'Americas', 'total_principal_amount': Decimal('24000000.00'), 'average_interest_rate': Decimal('6.250000')}
... and 7 more rows

================================================================================

‚úì Query executed successfully
  Rows returned: 10
  Execution time: 1.110s

üìä Results Preview (first 3 rows):
--------------------------------------------------------------------------------
Row 1: {'company': 'Blue Ridge Energy Corp', 'industry': 'Energy', 'region': 'Americas', 'total_principal_amount': Decimal('25000000.00'), 'average_interest_rate': Decimal('6.250000')}
Row 2: {'company': 'Toronto Health Devices', 'industry': 'Medical Devices', 'region': 'Americas', 'total_principal_amount': Decimal('25000000.00'), 'average_interest_rate': Decimal('6.250000')}
Row 3: {'company': 'Acme Industrial Holdings', 'industry': 'Manufacturing', 'region': 'Americas', 'total_principal_amount': Decimal('24000000.00'), 'average_interest_rate': Decimal('6.250000')}
... and 7 more rows

================================================================================


================================================================================
QUERY 2: Weighted Average Calculations
================================================================================
Question: What is the weighted average interest rate by region and currency, weighted by principal amount?

‚è≥ Step 1: Extracting intent...

================================================================================
QUERY 2: Weighted Average Calculations
================================================================================
Question: What is the weighted average interest rate by region and currency, weighted by principal amount?

‚è≥ Step 1: Extracting intent...
‚úì Intent extracted
‚è≥ Step 2: Generating SQL...
‚úì Intent extracted
‚è≥ Step 2: Generating SQL...
‚úì SQL generated

Generated SQL:
--------------------------------------------------------------------------------
SELECT
    RegionName AS Region,
    CurrencyCode AS Currency,
    SUM(PrincipalAmount * InterestRatePct) / NULLIF(SUM(PrincipalAmount), 0) AS WeightedAvgInterestRate
FROM dbo.vw_LoanPortfolio
GROUP BY RegionName, CurrencyCode
--------------------------------------------------------------------------------

‚è≥ Step 3: Executing query...
‚úì SQL generated

Generated SQL:
--------------------------------------------------------------------------------
SELECT
    RegionName AS Region,
    CurrencyCode AS Currency,
    SUM(PrincipalAmount * InterestRatePct) / NULLIF(SUM(PrincipalAmount), 0) AS WeightedAvgInterestRate
FROM dbo.vw_LoanPortfolio
GROUP BY RegionName, CurrencyCode
--------------------------------------------------------------------------------

‚è≥ Step 3: Executing query...
‚úì Query executed successfully
  Rows returned: 11
  Execution time: 1.053s

üìä Results Preview (first 3 rows):
--------------------------------------------------------------------------------
Row 1: {'Region': 'Asia', 'Currency': 'CNY', 'WeightedAvgInterestRate': Decimal('3.900000')}
Row 2: {'Region': 'Europe', 'Currency': 'EUR', 'WeightedAvgInterestRate': Decimal('4.750000')}
Row 3: {'Region': 'Europe', 'Currency': 'GBP', 'WeightedAvgInterestRate': Decimal('4.750000')}
... and 8 more rows

================================================================================

‚úì Query executed successfully
  Rows returned: 11
  Execution time: 1.053s

üìä Results Preview (first 3 rows):
--------------------------------------------------------------------------------
Row 1: {'Region': 'Asia', 'Currency': 'CNY', 'WeightedAvgInterestRate': Decimal('3.900000')}
Row 2: {'Region': 'Europe', 'Currency': 'EUR', 'WeightedAvgInterestRate': Decimal('4.750000')}
Row 3: {'Region': 'Europe', 'Currency': 'GBP', 'WeightedAvgInterestRate': Decimal('4.750000')}
... and 8 more rows

================================================================================


================================================================================
QUERY 3: Collateral Coverage Ratio Analysis
================================================================================
Question: Calculate the collateral coverage ratio for each loan (total collateral value divided by principal amount) and show the top 20 loans with coverage below 120%.

‚è≥ Step 1: Extracting intent...

================================================================================
QUERY 3: Collateral Coverage Ratio Analysis
================================================================================
Question: Calculate the collateral coverage ratio for each loan (total collateral value divided by principal amount) and show the top 20 loans with coverage below 120%.

‚è≥ Step 1: Extracting intent...
‚úì Intent extracted
‚è≥ Step 2: Generating SQL...
‚úì Intent extracted
‚è≥ Step 2: Generating SQL...
‚úì SQL generated

Generated SQL:
--------------------------------------------------------------------------------
SELECT
    l.LoanId AS loan_id,
    l.LoanNumber,
    l.PrincipalAmount,
    ISNULL(SUM(c.ValueAmount), 0) AS total_collateral_value,
    CASE
        WHEN l.PrincipalAmount = 0 THEN NULL
        ELSE ISNULL(SUM(c.ValueAmount), 0) / l.PrincipalAmount
    END AS collateral_coverage_ratio
FROM dbo.Loan l
LEFT JOIN dbo.Collateral c
    ON l.LoanId = c.LoanId
GROUP BY
    l.LoanId,
    l.LoanNumber,
    l.PrincipalAmount
HAVING
    CASE
        WHEN l.PrincipalAmount = 0 THEN NULL
        ELSE ISNULL(SUM(c.ValueAmount), 0) / l.PrincipalAmount
    END < 1.2
ORDER BY
    collateral_coverage_ratio ASC
OFFSET 0 ROWS FETCH NEXT 20 ROWS ONLY
--------------------------------------------------------------------------------

‚è≥ Step 3: Executing query...
‚úì SQL generated

Generated SQL:
--------------------------------------------------------------------------------
SELECT
    l.LoanId AS loan_id,
    l.LoanNumber,
    l.PrincipalAmount,
    ISNULL(SUM(c.ValueAmount), 0) AS total_collateral_value,
    CASE
        WHEN l.PrincipalAmount = 0 THEN NULL
        ELSE ISNULL(SUM(c.ValueAmount), 0) / l.PrincipalAmount
    END AS collateral_coverage_ratio
FROM dbo.Loan l
LEFT JOIN dbo.Collateral c
    ON l.LoanId = c.LoanId
GROUP BY
    l.LoanId,
    l.LoanNumber,
    l.PrincipalAmount
HAVING
    CASE
        WHEN l.PrincipalAmount = 0 THEN NULL
        ELSE ISNULL(SUM(c.ValueAmount), 0) / l.PrincipalAmount
    END < 1.2
ORDER BY
    collateral_coverage_ratio ASC
OFFSET 0 ROWS FETCH NEXT 20 ROWS ONLY
--------------------------------------------------------------------------------

‚è≥ Step 3: Executing query...
‚úì Query executed successfully
  Rows returned: 9
  Execution time: 1.046s

üìä Results Preview (first 3 rows):
--------------------------------------------------------------------------------
Row 1: {'loan_id': 16, 'LoanNumber': 'LN-TEST-016', 'PrincipalAmount': Decimal('14000000.00'), 'total_collateral_value': Decimal('0.00'), 'collateral_coverage_ratio': Decimal('0.000000')}
Row 2: {'loan_id': 3, 'LoanNumber': 'US-00002', 'PrincipalAmount': Decimal('25000000.00'), 'total_collateral_value': Decimal('10000000.00'), 'collateral_coverage_ratio': Decimal('0.400000')}
Row 3: {'loan_id': 4, 'LoanNumber': 'EU-00001', 'PrincipalAmount': Decimal('18000000.00'), 'total_collateral_value': Decimal('15000000.00'), 'collateral_coverage_ratio': Decimal('0.833333')}
... and 6 more rows

================================================================================

‚úì Query executed successfully
  Rows returned: 9
  Execution time: 1.046s

üìä Results Preview (first 3 rows):
--------------------------------------------------------------------------------
Row 1: {'loan_id': 16, 'LoanNumber': 'LN-TEST-016', 'PrincipalAmount': Decimal('14000000.00'), 'total_collateral_value': Decimal('0.00'), 'collateral_coverage_ratio': Decimal('0.000000')}
Row 2: {'loan_id': 3, 'LoanNumber': 'US-00002', 'PrincipalAmount': Decimal('25000000.00'), 'total_collateral_value': Decimal('10000000.00'), 'collateral_coverage_ratio': Decimal('0.400000')}
Row 3: {'loan_id': 4, 'LoanNumber': 'EU-00001', 'PrincipalAmount': Decimal('18000000.00'), 'total_collateral_value': Decimal('15000000.00'), 'collateral_coverage_ratio': Decimal('0.833333')}
... and 6 more rows

================================================================================


================================================================================
QUERY 4: Time-Series Analysis
================================================================================
Question: Show the month-over-month change in ending principal from the payment schedule for the top 20 loans with the largest principal decrease.

‚è≥ Step 1: Extracting intent...

================================================================================
QUERY 4: Time-Series Analysis
================================================================================
Question: Show the month-over-month change in ending principal from the payment schedule for the top 20 loans with the largest principal decrease.

‚è≥ Step 1: Extracting intent...
‚úì Intent extracted
‚è≥ Step 2: Generating SQL...
‚úì Intent extracted
‚è≥ Step 2: Generating SQL...
‚úì SQL generated

Generated SQL:
--------------------------------------------------------------------------------
SELECT
    ps.LoanId AS loan_id,
    FORMAT(ps.DueDate, 'yyyy-MM') AS month,
    MAX(ps.StartingPrincipal - ps.PrincipalDue) AS ending_principal,
    SUM(ps.PrincipalDue) AS principal_decrease,
    SUM(ps.PrincipalDue) - COALESCE(
        (
            SELECT SUM(PrevPS.PrincipalDue)
            FROM dbo.PaymentSchedule PrevPS
            WHERE
                PrevPS.LoanId = ps.LoanId
                AND FORMAT(PrevPS.DueDate, 'yyyy-MM') = FORMAT(DATEADD(MONTH, -1, ps.DueDate), 'yyyy-MM')
        )
    , 0) AS month_over_month_change
FROM dbo.PaymentSchedule ps
WHERE ps.Status = 'Active'
GROUP BY ps.LoanId, FORMAT(ps.DueDate, 'yyyy-MM')
ORDER BY principal_decrease DESC
OFFSET 0 ROWS FETCH NEXT 20 ROWS ONLY
--------------------------------------------------------------------------------

‚è≥ Step 3: Executing query...
‚úì SQL generated

Generated SQL:
--------------------------------------------------------------------------------
SELECT
    ps.LoanId AS loan_id,
    FORMAT(ps.DueDate, 'yyyy-MM') AS month,
    MAX(ps.StartingPrincipal - ps.PrincipalDue) AS ending_principal,
    SUM(ps.PrincipalDue) AS principal_decrease,
    SUM(ps.PrincipalDue) - COALESCE(
        (
            SELECT SUM(PrevPS.PrincipalDue)
            FROM dbo.PaymentSchedule PrevPS
            WHERE
                PrevPS.LoanId = ps.LoanId
                AND FORMAT(PrevPS.DueDate, 'yyyy-MM') = FORMAT(DATEADD(MONTH, -1, ps.DueDate), 'yyyy-MM')
        )
    , 0) AS month_over_month_change
FROM dbo.PaymentSchedule ps
WHERE ps.Status = 'Active'
GROUP BY ps.LoanId, FORMAT(ps.DueDate, 'yyyy-MM')
ORDER BY principal_decrease DESC
OFFSET 0 ROWS FETCH NEXT 20 ROWS ONLY
--------------------------------------------------------------------------------

‚è≥ Step 3: Executing query...
‚ùå Error: ('42000', "[42000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Column 'dbo.PaymentSchedule.DueDate' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause. (8120) (SQLExecDirectW)")

================================================================================

‚ùå Error: ('42000', "[42000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Column 'dbo.PaymentSchedule.DueDate' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause. (8120) (SQLExecDirectW)")

================================================================================

Traceback (most recent call last):
  File "/var/folders/dj/qp0fwj152ks28q9cn0_rd3fw0000gn/T/ipykernel_35373/2625500214.py", line 81, in process_query
    query_results = execute_sql_query(sql_query)
  File "/Users/arturoquiroga/GITHUB/AQ-NEW-NL2SQL/nl2sql_standalone_AzureAI/sql_executor.py", line 29, in execute_sql_query
    cursor.execute(sql_query)
    ~~~~~~~~~~~~~~^^^^^^^^^^^
pyodbc.ProgrammingError: ('42000', "[42000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Column 'dbo.PaymentSchedule.DueDate' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause. (8120) (SQLExecDirectW)")

================================================================================
QUERY 5: Covenant Compliance Rate
================================================================================
Question: What is the covenant compliance rate by industry and quarter? Show the percentage of covenant tests that passed versus total tests.

‚è≥ Step 1: Extracting intent...
‚úì Intent extracted
‚è≥ Step 2: Generating SQL...
‚úì Intent extracted
‚è≥ Step 2: Generating SQL...
‚úì SQL generated

Generated SQL:
--------------------------------------------------------------------------------
SELECT
    cpy.Industry AS Industry,
    DATEPART(YEAR, ctr.TestDate) AS Year,
    DATEPART(QUARTER, ctr.TestDate) AS Quarter,
    COUNT(*) AS TotalTests,
    SUM(CASE WHEN ctr.Status = 'Passed' THEN 1 ELSE 0 END) AS TestsPassed,
    CAST(SUM(CASE WHEN ctr.Status = 'Passed' THEN 1 ELSE 0 END) * 100.0 / COUNT(*) AS DECIMAL(5,2)) AS CovenantComplianceRatePct
FROM
    dbo.CovenantTestResult ctr
    INNER JOIN dbo.Loan ln ON ctr.LoanId = ln.LoanId
    INNER JOIN dbo.Company cpy ON ln.CompanyId = cpy.CompanyId
GROUP BY
    cpy.Industry,
    DATEPART(YEAR, ctr.TestDate),
    DATEPART(QUARTER, ctr.TestDate)
ORDER BY
    cpy.Industry,
    Year,
    Quarter
--------------------------------------------------------------------------------

‚è≥ Step 3: Executing query...
‚úì SQL generated

Generated SQL:
--------------------------------------------------------------------------------
SELECT
    cpy.Industry AS Industry,
    DATEPART(YEAR, ctr.TestDate) AS Year,
    DATEPART(QUARTER, ctr.TestDate) AS Quarter,
    COUNT(*) AS TotalTests,
    SUM(CASE WHEN ctr.Status = 'Passed' THEN 1 ELSE 0 END) AS TestsPassed,
    CAST(SUM(CASE WHEN ctr.Status = 'Passed' THEN 1 ELSE 0 END) * 100.0 / COUNT(*) AS DECIMAL(5,2)) AS CovenantComplianceRatePct
FROM
    dbo.CovenantTestResult ctr
    INNER JOIN dbo.Loan ln ON ctr.LoanId = ln.LoanId
    INNER JOIN dbo.Company cpy ON ln.CompanyId = cpy.CompanyId
GROUP BY
    cpy.Industry,
    DATEPART(YEAR, ctr.TestDate),
    DATEPART(QUARTER, ctr.TestDate)
ORDER BY
    cpy.Industry,
    Year,
    Quarter
--------------------------------------------------------------------------------

‚è≥ Step 3: Executing query...
‚úì Query executed successfully
  Rows returned: 127
  Execution time: 1.106s

üìä Results Preview (first 3 rows):
--------------------------------------------------------------------------------
Row 1: {'Industry': 'Agriculture', 'Year': 2022, 'Quarter': 4, 'TotalTests': 2, 'TestsPassed': 0, 'CovenantComplianceRatePct': Decimal('0.00')}
Row 2: {'Industry': 'Agriculture', 'Year': 2023, 'Quarter': 4, 'TotalTests': 2, 'TestsPassed': 0, 'CovenantComplianceRatePct': Decimal('0.00')}
Row 3: {'Industry': 'Agriculture', 'Year': 2024, 'Quarter': 1, 'TotalTests': 2, 'TestsPassed': 0, 'CovenantComplianceRatePct': Decimal('0.00')}
... and 124 more rows

================================================================================

‚úì Query executed successfully
  Rows returned: 127
  Execution time: 1.106s

üìä Results Preview (first 3 rows):
--------------------------------------------------------------------------------
Row 1: {'Industry': 'Agriculture', 'Year': 2022, 'Quarter': 4, 'TotalTests': 2, 'TestsPassed': 0, 'CovenantComplianceRatePct': Decimal('0.00')}
Row 2: {'Industry': 'Agriculture', 'Year': 2023, 'Quarter': 4, 'TotalTests': 2, 'TestsPassed': 0, 'CovenantComplianceRatePct': Decimal('0.00')}
Row 3: {'Industry': 'Agriculture', 'Year': 2024, 'Quarter': 1, 'TotalTests': 2, 'TestsPassed': 0, 'CovenantComplianceRatePct': Decimal('0.00')}
... and 124 more rows

================================================================================


================================================================================
QUERY 6: Delinquency Buckets Analysis
================================================================================
Question: Group payment events into delinquency buckets (0-29, 30-59, 60-89, 90+ days) by region and show the percentage distribution for the last 6 months.

‚è≥ Step 1: Extracting intent...

================================================================================
QUERY 6: Delinquency Buckets Analysis
================================================================================
Question: Group payment events into delinquency buckets (0-29, 30-59, 60-89, 90+ days) by region and show the percentage distribution for the last 6 months.

‚è≥ Step 1: Extracting intent...
‚úì Intent extracted
‚è≥ Step 2: Generating SQL...
‚úì Intent extracted
‚è≥ Step 2: Generating SQL...
‚úì SQL generated

Generated SQL:
--------------------------------------------------------------------------------
SELECT
    r.RegionName AS region,
    CASE
        WHEN pe.DaysDelinquent BETWEEN 0 AND 29 THEN '0-29'
        WHEN pe.DaysDelinquent BETWEEN 30 AND 59 THEN '30-59'
        WHEN pe.DaysDelinquent BETWEEN 60 AND 89 THEN '60-89'
        WHEN pe.DaysDelinquent >= 90 THEN '90+'
        ELSE 'Unknown'
    END AS delinquency_bucket,
    COUNT(*) AS payment_event_count,
    ROUND(100.0 * COUNT(*) / NULLIF(SUM(COUNT(*)) OVER (PARTITION BY r.RegionName), 0),2) AS percent_distribution
FROM dbo.PaymentEvent pe
INNER JOIN dbo.Loan l ON pe.LoanId = l.LoanId
INNER JOIN dbo.Company c ON l.CompanyId = c.CompanyId
INNER JOIN ref.Country co ON c.CountryCode = co.CountryCode
INNER JOIN ref.Region r ON co.RegionId = r.RegionId
WHERE
    pe.EventDate >= DATEADD(MONTH, -6, CAST(GETDATE() AS DATE))
GROUP BY
    r.RegionName,
    CASE
        WHEN pe.DaysDelinquent BETWEEN 0 AND 29 THEN '0-29'
        WHEN pe.DaysDelinquent BETWEEN 30 AND 59 THEN '30-59'
        WHEN pe.DaysDelinquent BETWEEN 60 AND 89 THEN '60-89'
        WHEN pe.DaysDelinquent >= 90 THEN '90+'
        ELSE 'Unknown'
    END
--------------------------------------------------------------------------------

‚è≥ Step 3: Executing query...
‚úì SQL generated

Generated SQL:
--------------------------------------------------------------------------------
SELECT
    r.RegionName AS region,
    CASE
        WHEN pe.DaysDelinquent BETWEEN 0 AND 29 THEN '0-29'
        WHEN pe.DaysDelinquent BETWEEN 30 AND 59 THEN '30-59'
        WHEN pe.DaysDelinquent BETWEEN 60 AND 89 THEN '60-89'
        WHEN pe.DaysDelinquent >= 90 THEN '90+'
        ELSE 'Unknown'
    END AS delinquency_bucket,
    COUNT(*) AS payment_event_count,
    ROUND(100.0 * COUNT(*) / NULLIF(SUM(COUNT(*)) OVER (PARTITION BY r.RegionName), 0),2) AS percent_distribution
FROM dbo.PaymentEvent pe
INNER JOIN dbo.Loan l ON pe.LoanId = l.LoanId
INNER JOIN dbo.Company c ON l.CompanyId = c.CompanyId
INNER JOIN ref.Country co ON c.CountryCode = co.CountryCode
INNER JOIN ref.Region r ON co.RegionId = r.RegionId
WHERE
    pe.EventDate >= DATEADD(MONTH, -6, CAST(GETDATE() AS DATE))
GROUP BY
    r.RegionName,
    CASE
        WHEN pe.DaysDelinquent BETWEEN 0 AND 29 THEN '0-29'
        WHEN pe.DaysDelinquent BETWEEN 30 AND 59 THEN '30-59'
        WHEN pe.DaysDelinquent BETWEEN 60 AND 89 THEN '60-89'
        WHEN pe.DaysDelinquent >= 90 THEN '90+'
        ELSE 'Unknown'
    END
--------------------------------------------------------------------------------

‚è≥ Step 3: Executing query...
‚úì Query executed successfully
  Rows returned: 3
  Execution time: 1.081s

üìä Results Preview (first 3 rows):
--------------------------------------------------------------------------------
Row 1: {'region': 'Americas', 'delinquency_bucket': '0-29', 'payment_event_count': 8, 'percent_distribution': Decimal('61.540000000000')}
Row 2: {'region': 'Americas', 'delinquency_bucket': 'Unknown', 'payment_event_count': 5, 'percent_distribution': Decimal('38.460000000000')}
Row 3: {'region': 'Europe', 'delinquency_bucket': '0-29', 'payment_event_count': 2, 'percent_distribution': Decimal('100.000000000000')}

================================================================================

‚úì Query executed successfully
  Rows returned: 3
  Execution time: 1.081s

üìä Results Preview (first 3 rows):
--------------------------------------------------------------------------------
Row 1: {'region': 'Americas', 'delinquency_bucket': '0-29', 'payment_event_count': 8, 'percent_distribution': Decimal('61.540000000000')}
Row 2: {'region': 'Americas', 'delinquency_bucket': 'Unknown', 'payment_event_count': 5, 'percent_distribution': Decimal('38.460000000000')}
Row 3: {'region': 'Europe', 'delinquency_bucket': '0-29', 'payment_event_count': 2, 'percent_distribution': Decimal('100.000000000000')}

================================================================================


================================================================================
QUERY 7: Payment Timing Performance
================================================================================
Question: What is the average number of days between due date and paid date for payments, grouped by company and quarter?

‚è≥ Step 1: Extracting intent...

================================================================================
QUERY 7: Payment Timing Performance
================================================================================
Question: What is the average number of days between due date and paid date for payments, grouped by company and quarter?

‚è≥ Step 1: Extracting intent...
‚úì Intent extracted
‚è≥ Step 2: Generating SQL...
‚úì Intent extracted
‚è≥ Step 2: Generating SQL...
‚úì SQL generated

Generated SQL:
--------------------------------------------------------------------------------
SELECT
    c.CompanyName,
    DATEPART(YEAR, ps.PaidDate) AS Year,
    DATEPART(QUARTER, ps.PaidDate) AS Quarter,
    AVG(DATEDIFF(DAY, ps.DueDate, ps.PaidDate)) AS AvgDaysPaidAfterDue
FROM
    dbo.PaymentSchedule ps
    INNER JOIN dbo.Loan l ON ps.LoanId = l.LoanId
    INNER JOIN dbo.Company c ON l.CompanyId = c.CompanyId
WHERE
    ps.PaidFlag = 1
    AND ps.PaidDate IS NOT NULL
    AND ps.DueDate IS NOT NULL
GROUP BY
    c.CompanyName,
    DATEPART(YEAR, ps.PaidDate),
    DATEPART(QUARTER, ps.PaidDate)
ORDER BY
    c.CompanyName,
    Year,
    Quarter
--------------------------------------------------------------------------------

‚è≥ Step 3: Executing query...
‚úì SQL generated

Generated SQL:
--------------------------------------------------------------------------------
SELECT
    c.CompanyName,
    DATEPART(YEAR, ps.PaidDate) AS Year,
    DATEPART(QUARTER, ps.PaidDate) AS Quarter,
    AVG(DATEDIFF(DAY, ps.DueDate, ps.PaidDate)) AS AvgDaysPaidAfterDue
FROM
    dbo.PaymentSchedule ps
    INNER JOIN dbo.Loan l ON ps.LoanId = l.LoanId
    INNER JOIN dbo.Company c ON l.CompanyId = c.CompanyId
WHERE
    ps.PaidFlag = 1
    AND ps.PaidDate IS NOT NULL
    AND ps.DueDate IS NOT NULL
GROUP BY
    c.CompanyName,
    DATEPART(YEAR, ps.PaidDate),
    DATEPART(QUARTER, ps.PaidDate)
ORDER BY
    c.CompanyName,
    Year,
    Quarter
--------------------------------------------------------------------------------

‚è≥ Step 3: Executing query...
‚úì Query executed successfully
  Rows returned: 0
  Execution time: 1.086s

================================================================================

‚úì Query executed successfully
  Rows returned: 0
  Execution time: 1.086s

================================================================================


================================================================================
QUERY 8: Regional Portfolio Distribution
================================================================================
Question: For each region, show the top 3 companies by outstanding balance using the latest ending principal from payment schedules, including each company's percentage share of the regional total.

‚è≥ Step 1: Extracting intent...

================================================================================
QUERY 8: Regional Portfolio Distribution
================================================================================
Question: For each region, show the top 3 companies by outstanding balance using the latest ending principal from payment schedules, including each company's percentage share of the regional total.

‚è≥ Step 1: Extracting intent...
‚úì Intent extracted
‚è≥ Step 2: Generating SQL...
‚úì Intent extracted
‚è≥ Step 2: Generating SQL...
‚úì SQL generated

Generated SQL:
--------------------------------------------------------------------------------
SELECT
    r.RegionName,
    c.CompanyName,
    ps.DueDate AS LatestDueDate,
    ps.StartingPrincipal + ps.PrincipalDue -
        ISNULL((
            SELECT SUM(pe.Amount)
            FROM dbo.PaymentEvent pe
            WHERE pe.LoanId = ps.LoanId
              AND pe.EventType IN ('PrincipalPayment')
              AND pe.EventDate <= ps.DueDate
        ), 0) AS LatestEndingPrincipal,
    ROUND(
        100.0 * (
            ps.StartingPrincipal + ps.PrincipalDue -
            ISNULL((
                SELECT SUM(pe.Amount)
                FROM dbo.PaymentEvent pe
                WHERE pe.LoanId = ps.LoanId
                  AND pe.EventType IN ('PrincipalPayment')
                  AND pe.EventDate <= ps.DueDate
            ), 0)
        ) /
        NULLIF(SUM(
            ps.StartingPrincipal + ps.PrincipalDue -
            ISNULL((
                SELECT SUM(pe.Amount)
                FROM dbo.PaymentEvent pe2
                WHERE pe2.LoanId = ps.LoanId
                  AND pe2.EventType IN ('PrincipalPayment')
                  AND pe2.EventDate <= ps.DueDate
            ), 0)
        ) OVER (PARTITION BY r.RegionName), 0), 2
    ) AS RegionalPrincipalPct
FROM dbo.PaymentSchedule ps
INNER JOIN dbo.Loan l ON ps.LoanId = l.LoanId
INNER JOIN dbo.Company c ON l.CompanyId = c.CompanyId
INNER JOIN ref.Country cn ON c.CountryCode = cn.CountryCode
INNER JOIN ref.Region r ON cn.RegionId = r.RegionId
WHERE ps.DueDate = (
    SELECT MAX(ps2.DueDate)
    FROM dbo.PaymentSchedule ps2
    WHERE ps2.LoanId = ps.LoanId
)
ORDER BY r.RegionName, LatestEndingPrincipal DESC
OFFSET 0 ROWS FETCH NEXT 3 ROWS ONLY
--------------------------------------------------------------------------------

‚è≥ Step 3: Executing query...
‚úì SQL generated

Generated SQL:
--------------------------------------------------------------------------------
SELECT
    r.RegionName,
    c.CompanyName,
    ps.DueDate AS LatestDueDate,
    ps.StartingPrincipal + ps.PrincipalDue -
        ISNULL((
            SELECT SUM(pe.Amount)
            FROM dbo.PaymentEvent pe
            WHERE pe.LoanId = ps.LoanId
              AND pe.EventType IN ('PrincipalPayment')
              AND pe.EventDate <= ps.DueDate
        ), 0) AS LatestEndingPrincipal,
    ROUND(
        100.0 * (
            ps.StartingPrincipal + ps.PrincipalDue -
            ISNULL((
                SELECT SUM(pe.Amount)
                FROM dbo.PaymentEvent pe
                WHERE pe.LoanId = ps.LoanId
                  AND pe.EventType IN ('PrincipalPayment')
                  AND pe.EventDate <= ps.DueDate
            ), 0)
        ) /
        NULLIF(SUM(
            ps.StartingPrincipal + ps.PrincipalDue -
            ISNULL((
                SELECT SUM(pe.Amount)
                FROM dbo.PaymentEvent pe2
                WHERE pe2.LoanId = ps.LoanId
                  AND pe2.EventType IN ('PrincipalPayment')
                  AND pe2.EventDate <= ps.DueDate
            ), 0)
        ) OVER (PARTITION BY r.RegionName), 0), 2
    ) AS RegionalPrincipalPct
FROM dbo.PaymentSchedule ps
INNER JOIN dbo.Loan l ON ps.LoanId = l.LoanId
INNER JOIN dbo.Company c ON l.CompanyId = c.CompanyId
INNER JOIN ref.Country cn ON c.CountryCode = cn.CountryCode
INNER JOIN ref.Region r ON cn.RegionId = r.RegionId
WHERE ps.DueDate = (
    SELECT MAX(ps2.DueDate)
    FROM dbo.PaymentSchedule ps2
    WHERE ps2.LoanId = ps.LoanId
)
ORDER BY r.RegionName, LatestEndingPrincipal DESC
OFFSET 0 ROWS FETCH NEXT 3 ROWS ONLY
--------------------------------------------------------------------------------

‚è≥ Step 3: Executing query...
‚ùå Error: ('42000', '[42000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]The multi-part identifier "pe.Amount" could not be bound. (4104) (SQLExecDirectW)')

================================================================================

‚ùå Error: ('42000', '[42000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]The multi-part identifier "pe.Amount" could not be bound. (4104) (SQLExecDirectW)')

================================================================================

Traceback (most recent call last):
  File "/var/folders/dj/qp0fwj152ks28q9cn0_rd3fw0000gn/T/ipykernel_35373/2625500214.py", line 81, in process_query
    query_results = execute_sql_query(sql_query)
  File "/Users/arturoquiroga/GITHUB/AQ-NEW-NL2SQL/nl2sql_standalone_AzureAI/sql_executor.py", line 29, in execute_sql_query
    cursor.execute(sql_query)
    ~~~~~~~~~~~~~~^^^^^^^^^^^
pyodbc.ProgrammingError: ('42000', '[42000] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]The multi-part identifier "pe.Amount" could not be bound. (4104) (SQLExecDirectW)')

================================================================================
QUERY 9: Rate Type Mix by Region
================================================================================
Question: Show the distribution of fixed versus variable rate loans by region, including counts, total principal, and percentages.

‚è≥ Step 1: Extracting intent...
‚úì Intent extracted
‚è≥ Step 2: Generating SQL...
‚úì Intent extracted
‚è≥ Step 2: Generating SQL...
‚úì SQL generated

Generated SQL:
--------------------------------------------------------------------------------
SELECT
    InterestRateType AS rate_type,
    RegionName AS region,
    COUNT(*) AS loan_count,
    SUM(PrincipalAmount) AS total_principal,
    COUNT(*) * 100.0 / SUM(COUNT(*)) OVER () AS percentage_of_loans
FROM
    dbo.vw_LoanPortfolio
GROUP BY
    InterestRateType,
    RegionName
--------------------------------------------------------------------------------

‚è≥ Step 3: Executing query...
‚úì SQL generated

Generated SQL:
--------------------------------------------------------------------------------
SELECT
    InterestRateType AS rate_type,
    RegionName AS region,
    COUNT(*) AS loan_count,
    SUM(PrincipalAmount) AS total_principal,
    COUNT(*) * 100.0 / SUM(COUNT(*)) OVER () AS percentage_of_loans
FROM
    dbo.vw_LoanPortfolio
GROUP BY
    InterestRateType,
    RegionName
--------------------------------------------------------------------------------

‚è≥ Step 3: Executing query...
‚úì Query executed successfully
  Rows returned: 5
  Execution time: 1.072s

üìä Results Preview (first 3 rows):
--------------------------------------------------------------------------------
Row 1: {'rate_type': 'Fixed', 'region': 'Africa', 'loan_count': 4, 'total_principal': Decimal('48000000.00'), 'percentage_of_loans': Decimal('25.000000000000')}
Row 2: {'rate_type': 'Fixed', 'region': 'Americas', 'loan_count': 1, 'total_principal': Decimal('14000000.00'), 'percentage_of_loans': Decimal('6.250000000000')}
Row 3: {'rate_type': 'Floating', 'region': 'Americas', 'loan_count': 3, 'total_principal': Decimal('60000000.00'), 'percentage_of_loans': Decimal('18.750000000000')}
... and 2 more rows

================================================================================

‚úì Query executed successfully
  Rows returned: 5
  Execution time: 1.072s

üìä Results Preview (first 3 rows):
--------------------------------------------------------------------------------
Row 1: {'rate_type': 'Fixed', 'region': 'Africa', 'loan_count': 4, 'total_principal': Decimal('48000000.00'), 'percentage_of_loans': Decimal('25.000000000000')}
Row 2: {'rate_type': 'Fixed', 'region': 'Americas', 'loan_count': 1, 'total_principal': Decimal('14000000.00'), 'percentage_of_loans': Decimal('6.250000000000')}
Row 3: {'rate_type': 'Floating', 'region': 'Americas', 'loan_count': 3, 'total_principal': Decimal('60000000.00'), 'percentage_of_loans': Decimal('18.750000000000')}
... and 2 more rows

================================================================================


================================================================================
QUERY 10: Multi-Dimensional Loan Maturity
================================================================================
Question: What is the average loan maturity period in days by industry and loan purpose, for loans originated in the last 2 years?

‚è≥ Step 1: Extracting intent...

================================================================================
QUERY 10: Multi-Dimensional Loan Maturity
================================================================================
Question: What is the average loan maturity period in days by industry and loan purpose, for loans originated in the last 2 years?

‚è≥ Step 1: Extracting intent...
‚úì Intent extracted
‚è≥ Step 2: Generating SQL...
‚úì Intent extracted
‚è≥ Step 2: Generating SQL...
‚úì SQL generated

Generated SQL:
--------------------------------------------------------------------------------
SELECT
    C.Industry,
    L.Purpose AS LoanPurpose,
    AVG(DATEDIFF(DAY, L.OriginationDate, L.MaturityDate)) AS AvgMaturityDays
FROM
    dbo.Loan L
    INNER JOIN dbo.Company C ON L.CompanyId = C.CompanyId
WHERE
    L.OriginationDate >= DATEADD(YEAR, -2, GETDATE())
GROUP BY
    C.Industry,
    L.Purpose
--------------------------------------------------------------------------------

‚è≥ Step 3: Executing query...
‚úì SQL generated

Generated SQL:
--------------------------------------------------------------------------------
SELECT
    C.Industry,
    L.Purpose AS LoanPurpose,
    AVG(DATEDIFF(DAY, L.OriginationDate, L.MaturityDate)) AS AvgMaturityDays
FROM
    dbo.Loan L
    INNER JOIN dbo.Company C ON L.CompanyId = C.CompanyId
WHERE
    L.OriginationDate >= DATEADD(YEAR, -2, GETDATE())
GROUP BY
    C.Industry,
    L.Purpose
--------------------------------------------------------------------------------

‚è≥ Step 3: Executing query...
‚úì Query executed successfully
  Rows returned: 5
  Execution time: 1.054s

üìä Results Preview (first 3 rows):
--------------------------------------------------------------------------------
Row 1: {'Industry': 'Chemicals', 'LoanPurpose': 'Data Center Buildout', 'AvgMaturityDays': 1826}
Row 2: {'Industry': 'Data Centers', 'LoanPurpose': 'Data Center Buildout', 'AvgMaturityDays': 1826}
Row 3: {'Industry': 'Electronics', 'LoanPurpose': 'Data Center Buildout', 'AvgMaturityDays': 1826}
... and 2 more rows

================================================================================

‚úì Query executed successfully
  Rows returned: 5
  Execution time: 1.054s

üìä Results Preview (first 3 rows):
--------------------------------------------------------------------------------
Row 1: {'Industry': 'Chemicals', 'LoanPurpose': 'Data Center Buildout', 'AvgMaturityDays': 1826}
Row 2: {'Industry': 'Data Centers', 'LoanPurpose': 'Data Center Buildout', 'AvgMaturityDays': 1826}
Row 3: {'Industry': 'Electronics', 'LoanPurpose': 'Data Center Buildout', 'AvgMaturityDays': 1826}
... and 2 more rows

================================================================================


================================================================================
üéâ BATCH PROCESSING COMPLETE
================================================================================
End time: 2025-10-08 11:27:56
Total processing time: 104.26s
Average time per query: 10.43s
================================================================================

================================================================================
üéâ BATCH PROCESSING COMPLETE
================================================================================
End time: 2025-10-08 11:27:56
Total processing time: 104.26s
Average time per query: 10.43s
================================================================================

## Step 11: Summary Report

Generate a summary report of all 10 queries showing success rates, timing, and row counts.

In [19]:
# Create summary DataFrame
summary_data = []

for result in all_results:
    summary_data.append({
        'ID': result['id'],
        'Query Name': result['name'],
        'Status': '‚úì Success' if result['error'] is None else '‚ùå Failed',
        'Rows': result['row_count'],
        'Time (s)': f"{result['execution_time']:.3f}" if result['execution_time'] else 'N/A',
        'Error': result['error'] if result['error'] else ''
    })

summary_df = pd.DataFrame(summary_data)

print("üìä EXECUTION SUMMARY - ALL 10 COMPLEX QUERIES")
print("=" * 100)
display(summary_df)

# Calculate statistics
successful = len([r for r in all_results if r['error'] is None])
failed = len([r for r in all_results if r['error'] is not None])
total_rows = sum([r['row_count'] for r in all_results])
avg_time = sum([r['execution_time'] for r in all_results if r['execution_time']]) / successful if successful > 0 else 0

print("\n" + "=" * 100)
print("üìà STATISTICS")
print("=" * 100)
print(f"‚úì Successful queries: {successful}/{len(all_results)} ({successful/len(all_results)*100:.1f}%)")
print(f"‚ùå Failed queries: {failed}/{len(all_results)}")
print(f"üìä Total rows returned: {total_rows:,}")
print(f"‚è±Ô∏è  Average execution time: {avg_time:.3f}s")
print("=" * 100)

üìä EXECUTION SUMMARY - ALL 10 COMPLEX QUERIES
====================================================================================================

,ID,Query Name,Status,Rows,Time (s),Error
0,1,Multi-Table Joins with Aggregations,‚úì Success,10,1.110,
1,2,Weighted Average Calculations,‚úì Success,11,1.053,
2,3,Collateral Coverage Ratio Analysis,‚úì Success,9,1.046,
3,4,Time-Series Analysis,‚ùå Failed,0,N/A,"('42000', ""[42000] [Microsoft][ODBC Driver 18 ..."
4,5,Covenant Compliance Rate,‚úì Success,127,1.106,
5,6,Delinquency Buckets Analysis,‚úì Success,3,1.081,
6,7,Payment Timing Performance,‚úì Success,0,1.086,
7,8,Regional Portfolio Distribution,‚ùå Failed,0,N/A,"('42000', '[42000] [Microsoft][ODBC Driver 18 ..."
8,9,Rate Type Mix by Region,‚úì Success,5,1.072,
9,10,Multi-Dimensional Loan Maturity,‚úì Success,5,1.054,

====================================================================================================
üìà STATISTICS
====================================================================================================
‚úì Successful queries: 8/10 (80.0%)
‚ùå Failed queries: 2/10
üìä Total rows returned: 170
‚è±Ô∏è  Average execution time: 1.076s
====================================================================================================

## Step 12: Detailed Results View

View detailed results for any specific query by its ID.

In [28]:
# Select which query to view in detail (change this number 1-10)
query_to_view = 9

# Find the selected query result
selected_result = next((r for r in all_results if r['id'] == query_to_view), None)

if selected_result:
    print("=" * 100)
    print(f"DETAILED VIEW - QUERY {selected_result['id']}: {selected_result['name']}")
    print("=" * 100)
    
    print(f"\n‚ùì Question:")
    print(f"   {selected_result['question']}")
    
    if selected_result['intent']:
        print(f"\nüéØ Extracted Intent:")
        print("-" * 100)
        print(selected_result['intent'])
    
    if selected_result['sql']:
        print(f"\nüíª Generated SQL:")
        print("-" * 100)
        sql_display = selected_result['sql'].strip()
        if sql_display.startswith("```"):
            lines = sql_display.split('\n')
            sql_display = '\n'.join(lines[1:-1]) if len(lines) > 2 else sql_display
        print(sql_display)
    
    print(f"\nüìä Execution Results:")
    print("-" * 100)
    print(f"   Status: {'‚úì Success' if selected_result['error'] is None else '‚ùå Failed'}")
    print(f"   Rows returned: {selected_result['row_count']}")
    print(f"   Execution time: {selected_result['execution_time']:.3f}s" if selected_result['execution_time'] else "   N/A")
    
    if selected_result['error']:
        print(f"\n‚ùå Error:")
        print(f"   {selected_result['error']}")
    
    if selected_result['results'] and len(selected_result['results']) > 0:
        print(f"\nüìã Data Preview:")
        print("-" * 100)
        
        # Create DataFrame for better display
        result_df = pd.DataFrame(selected_result['results'])
        
        # Display as table
        pd.set_option('display.max_columns', None)
        pd.set_option('display.width', None)
        pd.set_option('display.max_colwidth', 50)
        
        display(result_df.head(10))
        
        if len(result_df) > 10:
            print(f"\n... showing 10 of {len(result_df)} total rows")
        
        # Show statistics for numeric columns
        numeric_cols = result_df.select_dtypes(include=['int64', 'float64']).columns
        if len(numeric_cols) > 0:
            print(f"\nüìà Quick Statistics:")
            print("-" * 100)
            display(result_df[numeric_cols].describe())
    
    print("\n" + "=" * 100)
else:
    print(f"‚ùå Query {query_to_view} not found. Please select a number between 1 and 10.")

print(f"\nüí° Tip: Change 'query_to_view' value (1-10) to view different query results")

====================================================================================================
DETAILED VIEW - QUERY 9: Rate Type Mix by Region
====================================================================================================

‚ùì Question:
   Show the distribution of fixed versus variable rate loans by region, including counts, total principal, and percentages.

üéØ Extracted Intent:
----------------------------------------------------------------------------------------------------
{
  "intent": "aggregate",
  "entity": ["loans"],
  "metrics": ["count", "total_principal", "percentage"],
  "filters": [],
  "group_by": ["rate_type", "region"]
}

üíª Generated SQL:
----------------------------------------------------------------------------------------------------
SELECT
    InterestRateType AS rate_type,
    RegionName AS region,
    COUNT(*) AS loan_count,
    SUM(PrincipalAmount) AS total_principal,
    COUNT(*) * 100.0 / SUM(COUNT(*)) OVER () AS percentage_of_loans
FROM
    dbo.vw_LoanPortfolio
GROUP BY
    InterestRateType,
    RegionName

üìä Execution Results:
----------------------------------------------------------------------------------------------------
   Status: ‚úì Success
   Rows returned: 5
   Execution time: 1.072s

üìã Data Preview:
----------------------------------------------------------------------------------------------------

  rate_type    region  loan_count total_principal percentage_of_loans
0     Fixed    Africa           4     48000000.00     25.000000000000
1     Fixed  Americas           1     14000000.00      6.250000000000
2  Floating  Americas           3     60000000.00     18.750000000000
3  Floating      Asia           4     88000000.00     25.000000000000
4  Floating    Europe           4     72000000.00     25.000000000000

üìà Quick Statistics:
----------------------------------------------------------------------------------------------------

       loan_count
count     5.00000
mean      3.20000
std       1.30384
min       1.00000
25%       3.00000
50%       4.00000
75%       4.00000
max       4.00000

====================================================================================================

üí° Tip: Change 'query_to_view' value (1-10) to view different query results